.navbar a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar-img {
  height: 24px;
  width: auto;
  object-fit: contain;
}

.selected-option {
  width: 500px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.windows-terminal {
  font-family: "WindowsTerminalFont";
}

@font-face {
  font-family: "WindowsTerminalFont";
  src: url("/fonts/CascadiaMono.otf");
}

body a {
  text-decoration: none;
  font-size: 20px;
}

.link-no-decoration {
  text-decoration: none;
  font-size: 16px;
}

body h2 {
  color: #555555;
}

.text-offset {
  padding: 50px 200px;
}

.code-block {
  background-color: #f9f9f9;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  padding: 20px;
  color: #555555;
}
